@use '../abstracts/variables' as *;

.updateautomate {
	&-tabs {
		display: grid;
		width: 100%;
		gap: $gap-none;

		&--vertical {
			grid-template-columns: $tab-list-width 1fr;

			@media screen and (max-width: 768px) {
				grid-template-columns: 1fr;
			}
		}

		&__list {
			display: flex;
			margin: 0;
			list-style: none;

			&--vertical {
				flex-direction: column;
				border-right: var(--wpds-border-width-xs) solid $color-border-light;
				padding-right: 0;
			}
		}

		&__tab {
			display: flex;
			align-items: center;
			padding: var(--wpds-dimension-padding-lg);
			min-height: $tab-min-height;
			margin: 0;
			background: transparent;
			border: none;
			border-radius: $border-radius-none;
			cursor: pointer;
			line-height: $line-height-base;
			font-weight: var(--wpds-font-weight-regular);
			font-size: var(--wpds-font-size-md);
			color: $wp-color-foreground;
			text-align: left;
			transition: $transition-base;
			position: relative;
			gap: var(--wpds-dimension-gap-sm);

			&-icon {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-shrink: 0;

				svg {
					fill: currentColor;
				}
			}

			&--has-icon::before {
				display: none;
			}

			&:hover {
				color: var(--wpds-color-fg-content-neutral);
				background: var(--wpds-color-bg-surface-neutral-weak);
				outline: 2px solid transparent;
				box-shadow: inset 0 0 0 2px var(--wpds-color-fg-content-neutral) !important;
			}

			&:focus {
				outline: 2px solid transparent;
				box-shadow: inset 0 0 0 2px var(--wpds-color-fg-content-neutral) !important;
			}

			&--is-active {
				color: $wp-color-accent;
				fill: currentcolor;
				background: transparent;
				font-weight: var(--wpds-font-weight-regular);
				background-color: $color-accent-active-bg;

				&::after {
					content: '';
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					width: $border-width-thick;
					background: $wp-color-accent;
				}
			}

			.updateautomate-tabs__list--vertical & {
				width: 100%;
				justify-content: flex-start;
			}
		}

		&__panel {
			flex: 1;
			padding: 0;
			min-width: 0;
			height: $tab-panel-height;
			max-height: $tab-panel-height;
			position: relative;
			overflow: auto;
			padding: var(--wpds-dimension-padding-3xl) var(--wpds-dimension-padding-2xl);

			@media screen and (max-width: 1281px) {
				height: $tab-panel-height;
				max-height: $tab-panel-height;
			}

			@media screen and (max-width: 960px) {
				height: unset;
				max-height: unset;
			}

			&:focus {
				outline: 2px solid transparent;
				box-shadow: inset 0 0 0 2px var(--wpds-color-fg-content-neutral) !important;
			}

			&[hidden] {
				display: none;
			}
		}
	}
}
