@use 'scss/abstracts/variables';
@use 'scss/base/root';

@use 'scss/components/button';
@use 'scss/components/notice';
@use 'scss/components/tabs';
@use 'scss/components/toggle-control';

@use 'scss/pages/settings';

@use '@wordpress/dataviews/build-style/style.css';